.container {
  height: 50vh;
  margin-top: 25vh;
  margin-right: auto;
  margin-left: auto;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(38.9041095890411, 94.81%, 54.71%, 1.00)), to(#ee4324));
  background-image: linear-gradient(180deg, hsla(38.9041095890411, 94.81%, 54.71%, 1.00), #ee4324);
}

.div-block {
  width: 100vw;
  height: 100vh;
}

.div-block-2 {
  height: 100px;
  margin: auto;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3 {
  position: static;
  width: 740px;
  height: 670px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  border: 10px solid #fff;
  background-image: linear-gradient(138deg, #43bda5, #f1ec68);
  font-family: Bitter, serif;
}

.heading {
  margin-top: 0px;
  font-family: adelle, sans-serif;
  color: #fff;
  font-size: 90px;
  line-height: 80px;
}

.div-block-4 {
  width: 100%;
  height: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
  color: #fff;
}

.paragraph {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Bitter, serif;
  color: #fff;
  font-size: 48px;
  line-height: 55px;
}

.image {
  position: static;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  width: auto;
  height: 100px;
  margin-left: 0px;
  float: right;
  text-align: left;
}

.image-2 {
  display: block;
  width: auto;
  height: 100px;
  margin-right: 0px;
  float: right;
}

.div-block-5 {
  width: 5px;
  height: 150px;
  float: right;
  background-color: #fff;
}

.image-3 {
  display: none;
}

.div-block-6 {
  width: 5px;
  height: 100px;
  margin-right: 10px;
  margin-left: 10px;
  float: right;
  background-color: #fff;
}

.section-2 {
  height: 100vh;
  padding-top: 20vh;
  background-color: red;
  background-image: url('../images/device-28.png'), linear-gradient(120deg, #43bda5, #f1ec68);
  background-position: 30vw 40vh, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
}

.section-3 {
  height: auto;
  max-height: 1000px;
  padding-top: 5vw;
  padding-bottom: 60px;
  background-color: #fff;
  background-image: url('../images/section2.jpg');
  background-position: 100% 0%;
  background-size: cover;
}

.section-4 {
  height: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: hsla(168.1967213114754, 48.03%, 50.20%, 1.00);
}

.section-5 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1000;
  width: 100%;
  height: 80px;
  border-top: 7px solid red;
  background-color: #fff;
}

.image-4 {
  width: 160px;
  margin-top: 15px;
}

.column {
  border-left: 5px none #fff;
}

.column-2 {
  border-right: 5px solid #fff;
}

.heading-2 {
  width: 230px;
  margin-top: 15px;
  float: right;
  clear: none;
  font-family: Bitter, serif;
  color: #fff;
}

.paragraph-2 {
  font-family: 'Open Sans', sans-serif;
  color: #666;
  font-size: 24px;
  line-height: 32px;
}

.heading-3 {
  font-family: Bitter, serif;
  color: #666;
  font-size: 44px;
  line-height: 48px;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 190px;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border: 7px solid #fff;
  background-color: #f16a46;
}

.div-block-7:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(85, 255, 0, 0)), to(rgba(0, 0, 0, .3)));
  background-image: linear-gradient(180deg, rgba(85, 255, 0, 0), rgba(0, 0, 0, .3));
}

.div-block-8 {
  height: 190px;
  margin-bottom: 20px;
  border: 7px solid #fff;
  background-color: #faad1c;
}

.div-block-8.box-bel-event {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: hsla(39.18918918918919, 0.00%, 71.33%, 1.00);
}

.div-block-8.box-cub-event {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: hsla(39.18918918918919, 0.00%, 71.33%, 1.00);
}

.div-block-8.box-hat-event {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #faad1c;
}

.div-block-8.box-hat-event:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, .3)));
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .3));
}

.div-block-8.box-dom-event {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: hsla(39.18918918918919, 0.00%, 71.33%, 1.00);
}

.div-block-8.box-slu-event {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: hsla(39.18918918918919, 0.00%, 71.33%, 1.00);
}

.div-block-8.box-jam-event {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #f16a46;
}

.div-block-8.box-jam-event:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, .3)));
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .3));
}

.columns {
  height: 100%;
}

.div-block-9 {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 220px;
  height: 70px;
  margin-top: 0px;
  margin-right: 10px;
  border-style: solid;
  border-width: 7px;
  border-color: #fff;
}

.columns-2 {
  border: 0px none #fff;
}

.column-3 {
  border-left: 5px solid #fff;
}

.columns-3 {
  width: 100%;
  height: 100%;
  border: 5px none #fff;
}

.heading-4 {
  margin-top: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
}

.heading-4.h-jam-event {
  width: auto;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-size: 18px;
  line-height: 22px;
}

.heading-4.h-carib-event {
  display: block;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.heading-4.h-carib-event-jam {
  display: block;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  line-height: 22px;
  text-align: left;
}

.heading-5 {
  width: auto;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: right;
  color: #fff;
  font-size: 20px;
  text-align: right;
}

.text-block {
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

.text-block.h-jam-month {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.text-block.h-carib-month {
  margin-top: 0px;
}

.div-block-10 {
  width: 220px;
  height: 70px;
  margin-top: 0px;
  margin-right: 10px;
  float: right;
  clear: none;
  border: 5px solid #fff;
}

.text-block-2 {
  margin-top: 10px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.text-block-2.h-jam-date {
  font-size: 22px;
}

.text-block-2.h-carib-date {
  margin-top: 5px;
  font-size: 22px;
}

.columns-4 {
  display: block;
  height: 100%;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-right: 3px solid #fff;
}

.column-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.columns-5 {
  width: auto;
}

.column-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-left: 3px solid #fff;
}

.heading-6 {
  position: relative;
  left: auto;
  top: auto;
  margin-top: 30px;
  margin-right: 10px;
  clear: none;
  font-family: Bitter, serif;
  color: #fff;
  font-size: 32px;
  line-height: 36px;
  text-align: left;
}

.heading-7 {
  position: relative;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0px;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 0px;
  float: right;
  font-family: Bitter, serif;
  color: #fff;
  text-decoration: none;
}

.heading-7.dom-rep {
  margin-top: 0px;
}

.div-block-11 {
  min-height: 80px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #828282;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(66%, #fff), to(#d3d3d3));
  background-image: linear-gradient(180deg, #fff 66%, #d3d3d3);
}

.div-block-12 {
  margin: 10px;
}

.text-block-3 {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 700;
}

.text-block-3.sched-title {
  margin-top: 0px;
}

.text-block-4 {
  font-size: 16px;
}

.text-block-4.sched-speaker {
  margin-top: 5px;
}

.text-block-5 {
  margin-top: 10px;
}

.sched-disc {
  margin-top: 10px;
}

.section-6 {
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.heading-8 {
  text-align: center;
}

.bold-text {
  line-height: 24px;
}

.heading-9 {
  margin-bottom: 10px;
  color: #666;
}

.heading-9.h-white {
  color: #fff;
}

.section-7 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #8f8f8f;
}

.text-block-6 {
  margin-bottom: 20px;
  font-size: 24px;
}

.container-5 {
  padding-top: 60px;
  border-top: 2px solid #666;
}

.columns-6 {
  margin-bottom: 10px;
}

.columns-7 {
  margin-bottom: 20px;
}

.columns-8 {
  margin-bottom: 40px;
}

.section-8 {
  padding-bottom: 40px;
}

.column-9 {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-5 {
  margin-bottom: 10px;
}

.image-6 {
  margin-bottom: 10px;
}

.image-7 {
  margin-bottom: 10px;
}

.image-8 {
  margin-bottom: 10px;
}

.image-9 {
  margin-bottom: 10px;
}

.image-10 {
  margin-bottom: 10px;
}

.image-11 {
  margin-bottom: 10px;
}

.image-12 {
  margin-bottom: 10px;
}

.navbar {
  background-color: #fff;
  color: #666;
}

.link-block {
  width: 100%;
}

.link-block.event_link {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}

.button {
  position: static;
  padding: 25px 20px;
  border: 3px solid #fff;
  border-radius: 12px;
  background-color: #f16a46;
  font-family: Bitter, serif;
  font-size: 32px;
  line-height: 5px;
  font-weight: 700;
}

.button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, .3)));
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .3));
}

.container-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.link-block-2 {
  width: 100%;
  height: 100%;
}

.link-block-2.event_link {
  text-decoration: none;
}

@media (max-width: 991px) {
  .div-block-3 {
    width: 620px;
    height: 600px;
  }
  .heading {
    font-size: 85px;
    line-height: 80px;
  }
  .paragraph {
    font-size: 40px;
    line-height: 42px;
  }
  .image {
    display: block;
    width: 120px;
    height: auto;
    margin-left: 0px;
  }
  .image-2 {
    display: block;
    width: 180px;
    height: auto;
    margin-right: 0px;
  }
  .div-block-5 {
    height: 110px;
  }
  .image-3 {
    display: none;
  }
  .div-block-6 {
    width: 3px;
    height: 80px;
  }
  .section-2 {
    padding-top: 10vh;
  }
  .section-3 {
    height: auto;
    max-height: none;
    padding-bottom: 5vw;
    background-image: none;
    background-size: auto;
  }
  .section-5 {
    height: 70px;
  }
  .image-4 {
    width: 150px;
    margin-top: 10px;
  }
  .heading-2 {
    width: auto;
    font-size: 25px;
    line-height: 25px;
  }
  .heading-4.h-carib-event {
    font-size: 20px;
  }
  .heading-4.h-carib-event-jam {
    font-size: 18px;
  }
  .div-block-10 {
    width: 195px;
  }
  .text-block-2.h-carib-date {
    font-size: 18px;
  }
  .heading-7.dom-rep {
    text-align: right;
  }
  .column-8 {
    display: block;
    overflow: visible;
  }
}

@media (max-width: 767px) {
  .div-block-3 {
    width: 480px;
    height: 480px;
    padding: 20px;
  }
  .heading {
    font-size: 66px;
    line-height: 64px;
  }
  .div-block-4 {
    height: 4px;
  }
  .paragraph {
    font-size: 32px;
    line-height: 35px;
  }
  .image {
    display: block;
    width: 90px;
  }
  .image-2 {
    display: block;
    width: 130px;
  }
  .div-block-5 {
    width: 4px;
    height: 90px;
  }
  .image-3 {
    display: none;
  }
  .div-block-6 {
    height: 70px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .section-2 {
    padding-top: 8vh;
  }
  .section-3 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .heading-2 {
    margin-top: 10px;
  }
  .container-4 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-7 {
    height: 250px;
    margin-bottom: auto;
  }
  .div-block-8.box-bel-event {
    height: 250px;
    margin-top: 20px;
  }
  .div-block-8.box-cub-event {
    height: 250px;
  }
  .div-block-8.box-hat-event {
    height: 250px;
  }
  .div-block-8.box-dom-event {
    height: 250px;
  }
  .div-block-8.box-slu-event {
    height: 250px;
  }
  .div-block-8.box-jam-event {
    height: 250px;
    margin-top: 20px;
  }
  .div-block-9 {
    width: 330px;
  }
  .heading-4.h-jam-event {
    font-size: 30px;
  }
  .heading-4.h-carib-event {
    font-size: 30px;
  }
  .heading-4.h-carib-event-jam {
    font-size: 30px;
    line-height: 32px;
  }
  .div-block-10 {
    width: 330px;
    height: 90px;
    border-width: 7px;
  }
  .text-block-2.h-carib-date {
    font-size: 32px;
  }
  .heading-6 {
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 25px;
  }
  .heading-7 {
    margin-top: 73px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 56px;
  }
  .heading-7.dom-rep {
    font-size: 50px;
    line-height: 44px;
  }
  .heading-9 {
    margin-right: 10px;
    margin-left: 10px;
  }
  .image-5 {
    width: 100%;
  }
  .image-11 {
    width: auto;
  }
  .image-13 {
    width: 50%;
    float: right;
  }
}

@media (max-width: 479px) {
  .div-block-3 {
    width: 300px;
    height: 620px;
  }
  .heading {
    font-size: 40px;
    line-height: 44px;
  }
  .paragraph {
    font-size: 28px;
    line-height: 30px;
  }
  .image {
    display: none;
    clear: none;
  }
  .image-2 {
    display: block;
    width: 2200px;
    margin-right: 0px;
    clear: none;
  }
  .image-3 {
    display: block;
  }
  .div-block-6 {
    display: none;
  }
  .section-2 {
    background-position: 0vw 40vh, 0px 0px;
    background-size: 50vh 50vh, auto;
  }
  .heading-2 {
    font-size: 35px;
    line-height: 35px;
  }
  .paragraph-2 {
    font-size: 16px;
    line-height: 20px;
  }
  .heading-3 {
    font-size: 32px;
    line-height: 34px;
  }
  .div-block-9 {
    width: 260px;
  }
  .heading-4.h-jam-event {
    font-size: 24px;
    line-height: 22px;
  }
  .heading-4.h-carib-event {
    font-size: 24px;
  }
  .heading-4.h-carib-event-jam {
    font-size: 24px;
  }
  .div-block-10 {
    width: 260px;
  }
  .text-block-2.h-jam-date {
    font-size: 22px;
  }
  .text-block-2.h-carib-date {
    font-size: 22px;
  }
  .heading-7.dom-rep {
    font-size: 40px;
  }
  .heading-9 {
    margin-bottom: 10px;
    font-family: Bitter, serif;
    font-size: 32px;
    line-height: 30px;
  }
  .text-block-6 {
    margin-right: 10px;
    margin-left: 10px;
  }
}

