<!--  Carousel  -->
<div class="row">
    <header id="header-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
        <!--  Wrapper for Slides  -->
        <div class="carousel-inner">
            <!--  Indicators  -->
            <!--
            <ol class="carousel-indicators">
            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#header-carousel" data-slide-to="1"></li>
            <li data-target="#header-carousel" data-slide-to="2"></li>
            </ol>
            -->

            <!--  Slides  -->
            <div ng-repeat="slide in slides" class="item" ng-class="{active:$first}">
                <a href="https://www.eventbrite.com/e/developing-the-caribbean-conference-and-codesprint-tickets-24791090820"
                   target="_blank">
                    <div id="carousel-item1" class="hero" class="col-sm-12 col-sm-12 col-lg-12 no-padding"
                         style="background-image: url('{{slide['@id']}}');">
                        <div class="box-caption">
                            <!--  Hero  -->
                            <div class="row on-grid-row">
                                <div class="col-sm-12 col-sm-12 col-lg-12">
                                    <div class="caption-content">
                                        <span class="logo-white"></span>

                                        <div class="date-tagline">
<span class="title-0 white-text">
May 5th &amp; 6th<br>
</span>
                                            <br>
<span class="title-1 white-text">
Towards A Caribbean<br>
Data Revolution
</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  Hero  -->
                        </div>
                    </div>
                </a>
            </div>

            <!--  Left and right controls  -->
            <span class="left carousel-control" data-target="#header-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </span>
            <span class="right carousel-control" data-target="#header-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </span>
        </div>
    </header>
</div>
<!--  /Carousel  -->