
<!--  Banner -->
<div class="row">
	<div id="contentpage-hero" class="half-hero col-sm-12 col-sm-12 col-lg-12 no-padding" style="background-image: url(images/page-banner-08.png);">
		<div class="row on-grid-row" style="background:blue;">
			<div style="position: absolute; bottom:20px;">
				<div class="gl-content-title title-1 white-text" style="font-size: 60px">
					{{title}}
				</div>
			</div>
		</div>
	</div>
</div>
<!--  /Banner  -->

<!--  Page Content  -->
<div ng-controller="EventCtrl" class="row contentpage-section" id="country-content">
	<div class="col-sm-12 no-padding">
		<div class="on-grid-row gl-content-descriptionz">

			<div class="on-grid-row-col1">
				<div class="title-1">About the Event</div>
				<div id="country-description"><p class="gl-content-description">
					{{description}}
				</p></div>

				<a href="{{event_url}}" class="btn btn-success gl-devca-event-url">Participate/Register</a>


				<!--  Schedule  -->
				<div class="title-1">Agenda</div>
				<div class="row contentpage-section" id="schedule-content">
					<div class="col-sm-12 no-padding">
						<div class="zon-grid-row gl-devca-sched-embed">
							<div ng-bind-html="sched_embed"></div>
						</div>
					</div>
				</div>

				<!--  Schedule  -->
				<div class="gl-devca-event-contact-partners"><div class="title-1">Partners</div>
					<div id="country-partners">
						<img ng-repeat="partner in partners"
							 class="devca-partner-logo" src="{{partner['@id']}}/@@images/image/preview" />

					</div></div>
				<div class="gl-devca-event-contact-partners"><div class="title-1">Sponsors</div>
					<div id="country-sponsors">
						<img ng-repeat="sponsor in sponsors"
							 class="devca-partner-logo" src="{{sponsor['@id']}}/@@images/image/preview" />

					</div></div>
			</div>
			<div class="on-grid-row-col2">
				<div id="event-info" class="country-details-box white-text">
					<div class="event-details event-when">
						<span class="title-2">When: </span><span class="body-copy gl-devca-event-start pat-moment" data-pat-moment="format:ddd MMM Do">{{start | date :  "EEE MMM d"}}</span><span class="body-copy"> to </span><span class="body-copy gl-devca-event-end pat-moment" data-pat-moment="format:ddd MMM Do">{{end | date : "EEE MMM d"}}</span>
					</div>
					<div class="event-details event-where"><span class="title-2">Venue: </span><span class="body-copy gl-devca-event-location">{{location}}</span></div>
					<div class="spacer-small"></div>
					<div class="gl-devca-map">
						<div ng-bind-html="map"></div>
						<!--
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.36526264258!2d-76.75068678499242!3d18.00824453934124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8edb3f24366d1cfb%3A0x9a9de285130b982e!2sFaculty+of+Law%2C+Kingston!5e0!3m2!1sen!2sjm!4v1462110747392" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> -->
					</div>
				</div>
				<div id="org-info" class="country-details-box dark-grey-text">
					<a href="" class="gl-devca-organizer-external-url"><img class="country-org-logo gl-devca-organizer-image" src="{{organizer['@id']}}/@@images/image/preview"></a>
					<div class="gl-devca-organizer"><div class="title-2">Organizer: </div>		<div class="body-copy">{{organizer.title}}</div></div>
					<div class="gl-devca-contact-name"><div class="title-2">Contact Person: </div>	<div class="body-copy ">{{contact_name}}</div></div>
					<div class="gl-devca-contact-phone"><div class="title-2">Phone: </div>			<div class="body-copy">{{contact_phone}}</div></div>
					<div class="gl-devca-contact-email"><div class="title-2">Email: </div>			<div class="body-copy ">{{contact_email}}</div></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--  /Page Content  -->	

			
														


