<div id="contentpage-hero" class="half-hero col-sm-12 col-sm-12 col-lg-12 no-padding" style="background-image: url(../images/page-banner-08.png);">
					<div class="row on-grid-row" style="background:blue;">
						<div style="position: absolute; bottom:20px;">
							<div class="gl-content-title title-1 white-text" style="font-size: 60px">Events</div>
						</div>
   </div>
	</div>

	<div class="container">
    <ul class="list-group">
      <li ng-repeat="event in events" class="list-group-item"><span class="badge">12</span> {{event['@id']}}</li>
    </ul>
	</div>

