

<div class="responsive-hero hero-nav-margin bg-bottom-right" style="background-image: url(./images/zika-banners/device.png);">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-5 zika-text-col"></div>
            <div class="col-sm-5 col-md-5 col-lg-5 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 zika-logo"></div>
            <!--
                <div class="col-sm-5 col-md-5 col-lg-5 col-xs-push-0 col-sm-push-7 col-md-push-7 col-lg-push-7 zika-logo"></div>
                <div class="col-sm-6 col-md-6 col-lg-5 col-xs-pull-0 col-sm-pull-5 col-md-pull-5 col-lg-pull-5 zika-text-col"></div>
            -->
        </div>
    </div>
</div>


<!-- Affirmation -->
<div class="responsive-hero bg-bottom-right hero-affirmation" style="">
    <div class="responsive-hero device bg-bottom-left">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                    <div class="title-2 medium-grey-text">DevCa is the Caribbean's leading platform for exploring the intersection of digital technologies, today's biggest challenges and the future of the region. </div>
                    <div class="body-copy medium-grey-text" style="margin-top:20px;">The two day Conference and Code Sprint provides a unique opportunity for technologists, organizations, researchers and entrepreneurs across the region to network while using tech innovation to solve some of the region’s biggest challenges. </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Affirmation -->

<!-- Locations -->
<div class="bg-bottom-right hero-faded" style="">
    <div class="white-cage">
        <div class="container">
            <div class="row">
                <!-- Section Title -->
                <div class="col-sm-12 col-md-12 col-lg-12 spacer-section">
                    <div class="section-title title-1-large white-text">DevCa Events</div>
                </div>
                <!-- End Section Title -->
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <a href="#/event/jamaica">
                        <div class="block-container block-3col white-background light-grey-border">
                            <div class="block-image" style="background: #0da9af;"></div>
                            <div class="block-content">
                                <div class="block-title title-2 medium-grey-text">Jamaica</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="block-container block-3col white-background light-grey-border">
                        <div class="block-image" style="background: #ed6946;"></div>
                        <div class="block-content">
                            <div class="block-title title-2 medium-grey-text">Cuba</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <a href="#/event/dominican-republic">
                        <div class="block-container block-3col white-background light-grey-border">
                            <div class="block-image" style="background: #f9ad1d;"></div>
                            <div class="block-content">
                                <div class="block-title title-2 medium-grey-text">Dominican<br>Republic</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="block-container block-3col white-background light-grey-border">
                        <div class="block-image" style="background: #75bfca;"></div>
                        <div class="block-content">
                            <div class="block-title title-2 medium-grey-text">St. Kitts &amp; Nevis</div>
                        </div>
                    </div>
                </div>
                <!-- Spacer -->
                <div class="col-sm-12 col-md-12 col-lg-12" style="height:200px;"></div>
                <!-- End Spacer -->
            </div>
        </div>
    </div>
</div>
<!-- End Locations -->

<!-- Posts -->
<div ng-controller="PostSmallCtrl" class="bg-bottom-right grey-cage" style="">
    <div class="device bg-bottom-left">
        <div class="container">
            <div class="row">
                <!-- Section Title -->
                <div class="col-sm-12 col-md-12 col-lg-12 spacer-section">
                    <div class="section-title title-1-large medium-grey-text">Articles</div>
                    <div class="section-more title-1-light medium-grey-text"><a href="#/posts">More Articles</a></div>
                </div>
                <!-- End Section Title -->
                <div ng-repeat="post_small in constructs" ng-class="{'col-sm-12 col-md-12 col-lg-12': $first, 'col-sm-4 col-md-4 col-lg-4': !$first}">
                    <a href="#/post/{{post_small.id}}">
                        <div ng-class="{'block-12col': $first, 'block-4col': !$first}" class="block-container white-background light-grey-border">
                            <div class="block-image" style="background-image: url('{{post_small.image}}');"></div>
                            <div class="block-content">
                                <div class="block-date detail medium-grey-text">{{post_small.created | date}}</div>
                                <div class="block-title title-2 medium-grey-text">{{post_small.title}}</div>
                                <div ng-hide="!$first" class="block-body body-copy medium-grey-text">{{post_small.desc}}</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div ng-hide="false" class="col-sm-12 col-md-12 col-lg-12 spacer-large"></div>

            <div ng-hide="true" class="row">
                <!-- Section Title -->
                <div class="col-sm-12 col-md-12 col-lg-12 spacer-section">
                    <div class="section-title title-1-large medium-grey-text">Conference Presentations</div>
                    <div class="section-more title-1-light medium-grey-text">More Presentations</div>
                </div>
                <!-- End Section Title -->
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="block-container block-6col white-background light-grey-border">
                        <div class="block-image" style="background-image:url('/images/blog/opening.png');">
                            <div class="block-content" style="">
                                <div class="block-date detail white-text">26 May, 2015</div>
                                <div class="block-title title-2 white-text">Opening Remarks: Prof Denzil Williams</div>
                            </div>
                        </div>
                        <div class="block-content" style="">
                            <div class="block-date detail medium-grey-text">26 May, 2015</div>
                            <div class="block-title title-2 medium-grey-text">Opening Remarks: Prof Denzil Williams</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <div class="block-container block-3col white-background light-grey-border">
                        <div class="block-image" style="background-image:url('/images/blog/keynote.png');"></div>
                        <div class="block-content">
                            <div class="block-date detail medium-grey-text">26 May, 2015</div>
                            <div class="block-title title-2 medium-grey-text">Plenary Keynote: International Open Data Charter &amp; the Global Partnership for Development</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <div class="block-container block-3col white-background light-grey-border">
                        <div class="block-image" style="background-image:url('/images/blog/2030.png');"></div>
                        <div class="block-content">
                            <div class="block-date detail medium-grey-text">26 May, 2015</div>
                            <div class="block-title title-2 medium-grey-text">The 2030 Agenda: Data, Sustainable Development and Vision 2030</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <div class="block-container block-3col white-background light-grey-border">
                        <div class="block-image" style="background-image:url('/images/blog/cities.png');"></div>
                        <div class="block-content">
                            <div class="block-date detail medium-grey-text">26 May, 2015</div>
                            <div class="block-title title-2 medium-grey-text">Smart Cities, Smarter Government: Digital Transformation in a Modern Public Sector</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <div class="block-container block-3col white-background light-grey-border">
                        <div class="block-image" style="background-image:url('/images/blog/beyond.png');"></div>
                        <div class="block-content">
                            <div class="block-date detail medium-grey-text">26 May, 2015</div>
                            <div class="block-title title-2 medium-grey-text">Beyond Data Journalism: Building Caribbean Data Competencies for a Post-2015 World</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <div class="block-container block-3col white-background light-grey-border">
                        <div class="block-image" style="background-image:url('/images/blog/citizen.png');"></div>
                        <div class="block-content">
                            <div class="block-date detail medium-grey-text">26 May, 2015</div>
                            <div class="block-title title-2 medium-grey-text">Panel: Engaging &amp; Understanding CItizen Voice in the Digital Age</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <div class="block-container block-3col white-background light-grey-border">
                        <div class="block-image" style="background-image:url('/images/blog/voice.png');"></div>
                        <div class="block-content">
                            <div class="block-date detail medium-grey-text">26 May, 2015</div>
                            <div class="block-title title-2 medium-grey-text">The Voice of Net-Citizens: Combating Corruption in a Digital Age</div>
                        </div>
                    </div>
                </div>
                <!-- Spacer -->
                <div class="col-sm-12 col-md-12 col-lg-12" style="height:200px;"></div>
                <!-- End Spacer -->
            </div>
        </div>
    </div>
</div>
<!-- End Posts -->

<!-- Partners -->
<div class="bg-bottom-right hero-faded-warm" style="">
    <div class="white-cage">
        <div class="container">
            <div class="row">
                <!-- Section Title -->
                <div class="col-sm-12 col-md-12 col-lg-12 spacer-section">
                    <div class="section-title title-1-large white-text">Event Partners</div>
                </div>
                <!-- End Section Title -->
                <div ng-repeat="partner in partners" class="col-sm-4 col-md-3 col-lg-3" style=" height:100px; margin-top:30px;">
                    <div style="background-image:url('{{partner['@id']}}/@@images/image'); background-size: contain; background-repeat: no-repeat; background-position: center center; height:100%; "></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Partners -->
