

<!--  Banner -->
<div class="row">
	<div id="contentpage-hero" class="half-hero col-sm-12 col-sm-12 col-lg-12 no-padding" style="background-image: url(../images/page-banner-08.png);">
		<div class="row on-grid-row" style="background:blue;">
			<div class="col-sm-12 col-sm-12 col-lg-12" style="position: absolute; bottom:20px;">
				<div class="gl-content-title title-1 white-text" style="font-size: 60px">
					Blog
				</div>
			</div>
		</div>
	</div>
</div>
<!--  /Banner  -->

<!--  Affirmation  -->


<div class="row homepage-section" id="affirmation" style="height:auto">
	<div class="col-sm-12 no-padding" style="height:100%">
		<div class="on-grid-row " style="height:100%; position:relative">
			<span class="gl-content-body"></span><!-- @d.bain put blog here -->
		</div>
	</div>

</div>


<!--  Affirmation  -->				
