<div id="header-navbar" class="col-sm-12 col-sm-12 col-lg-12">
    <nav class="navbar navbar-fixed-top">
        <div class="row on-grid-row">
            <a href="#/" class="gl-logo"><nav id="logo" class="navbar-left hidden-xs col-sm-3 col-sm-3 col-lg-3"></nav></a>


            <nav id="navbar-wrapper" class="navbar-right col-xs-12 col-sm-6 col-sm-6 col-lg-6">
                <div id="logo-mobile"></div>
                <button type="button" class="navbar-toggle collapsed dark-grey-border box-border" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar dark-grey-background"></span>
                    <span class="icon-bar dark-grey-background"></span>
                    <span class="icon-bar dark-grey-background"></span>
                </button>
                <ul id="main-navbar" class="navbar-right nav navbar-nav collapse navbar-collapse">
                    <!--
                      <li class="dropdown">
                        <a class="dark-grey-text" href="#events">
                            Events
                    </li>
                    -->
                    <!--<li><a class="dark-grey-text" href="#/schedule">Schedule</a></li>-->
                    <li><a class="dark-grey-text" href="#/videos">Videos</a></li>
                    <li><a class="dark-grey-text" href="#/presentations">Presentations</a></li>
                    <!--<li><a class="dark-grey-text" href="http://www.eventbrite.com/e/devca-2016-zika-hackathon-registration-26002823144">Register</a></li>-->
                    <li><a class="dark-grey-text" href="http://devca.ideascale.com/">Challenges</a></li>
                    <li><a class="dark-grey-text" href="#/posts">Blog</a></li>
                    <!--<li><a class="dark-grey-text" href="https://drive.google.com/folderview?id=0Bzu77GqlmHCCMGdxUG9MWXhwUWM&usp=sharing">Resources</a></li>-->
                </ul>
            </nav>

        </div>
    </nav>
</div>
