<div class="responsive-half-hero" style="background: url('/images/newsroom.JPG');background-size: cover; background-position: center center">
    <div class="block-content">
        <div class="container">
            <div class="row">
                <div class="post-headline-outer-wrapper col-sm-12 col-md-12 col-lg-12 col-sm-offset-0 col-md-offset-0 col-lg-offset-0" style="">
                    <div class="post-headline-inner-wrapper" style="">
                        <div class="title-1-large white-text" style="text-align:left;">Blog Posts</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 spacer-large">
        </div>
    </div>
    <div class="row">
        <div ng-repeat="post in posts" class="col-sm-4 col-md-4 col-lg-4">
            <a href="#/post/{{post['@id'] | basename }}">
                <div class="block-container block-4col white-background light-grey-border">
                    <div class="block-image" style="background-image:url('{{post['@id']}}/@@images/image');"></div>
                    <div class="block-content">
                        <!--<div class="block-date detail medium-grey-text">26 May, 2015</div>-->
                        <div class="block-title title-2 medium-grey-text">{{post['title']}}</div>
                        <div class="block-content">{{post['description']}}</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 spacer-large">
        </div>
    </div>
</div>