<div ng-controller="PostSmallCtrl" >
    <div class="responsive-half-hero" style="background-image:url('{{image_banner}}'); background-size: cover; background-position: center center">
        <div class="block-content">
            <div class="container">
                <div class="row">
                    <div class="post-headline-outer-wrapper col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" style="">
                        <div class="post-headline-inner-wrapper" style="">
                            <div class="title-1-large white-text" style="text-align:center;">{{title}}</div>
                            <div class="body-copy white-text" style="text-align:center;">{{author}}</div>
                            <div class="detail-1 white-text" style="text-align:center;">{{post_date | date}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 spacer-large">
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                <span ng-bind-html="post_content"></span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 spacer-large">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                <div class="title-2 medium-grey-text" style="margin-left:-15px; padding-right:15px; margin-bottom: 7px; margin-top: 20px; padding-bottom:5px; border-bottom: 2px solid #cccccc">
                    Related Articles
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="post_small in constructs | limitTo:2" class="col-sm-4 col-md-4 col-lg-4" ng-class="{'col-sm-offset-2 col-md-offset-2 col-lg-offset-2':$first}">
                <a href="#/post/{{post_small.id}}">
                    <div class="block-container block-4col white-background light-grey-border">
                        <div class="block-image" style="background-image:url('{{post_small.image}}');"></div>
                        <div class="block-content">
                            <div class="block-date detail medium-grey-text">{{post_small.created | date}}</div>
                            <div class="block-title title-2 medium-grey-text">{{post_small.title}}</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 spacer-large">
            </div>
        </div>
    </div>

</div>
