<div class="responsive-half-hero" style="background-image:url('/images/newsroom.jpg'); background-size: cover; background-position: center center">
    <div class="block-content">
        <div class="container">
            <div class="row">
                <div class="post-headline-outer-wrapper col-xs-4 col-sm-2 col-md-2 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                    <div class="post-headline-inner-wrapper" style="">
                        <div class="presenter-photo" style="background:url('{{presentation['@id']}}/@@images/image/preview') no-repeat; background-position: center; background-size: cover;"></div>
                    </div>
                </div>
                <div class="post-headline-outer-wrapper col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="post-headline-inner-wrapper" style="">
                        <div class="title-1-large white-text" style="text-align:left;">{{presentation.title}}</div>
                        <div class="body-copy white-text" style="text-align:left;">{{presentation.presenter_name}}</div>
                        <div class="detail-1 white-text" style="text-align:left;">{{presentation.created | date}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 spacer-large">
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
            <span ng-bind-html="presentation_content"></span>
        </div>
    </div>
    <div class="row">
        <div class="presentation-embed text-center col-xs-10 col-sm-8 col-md-8 col-lg-8 col-xs-offset-1 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
            <span ng-bind-html="presentation_object"></span>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 spacer-large">
        </div>
    </div>
    <div class="row">
        <div class="presentation-embed text-center col-xs-10 col-sm-8 col-md-8 col-lg-8 col-xs-offset-1 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
            <span ng-bind-html="video_object"></span>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 spacer-large">
        </div>
    </div>
</div>
