<!--  Banner -->
<div class="row">
	<div id="contentpage-hero" class="half-hero col-sm-12 col-sm-12 col-lg-12 no-padding" style="background-image: url(/images/page-banner-08.png);">
		<div class="row on-grid-row" style="background:blue;">
			<div style="position: absolute; bottom:20px;">
				<div class="gl-content-title title-1 white-text" style="font-size: 60px">
					Schedule
				</div>
			</div>
		</div>
	</div>
</div>
<!--  /Banner  -->

<!--  Schedule  -->
<div class="row contentpage-section" id="schedule-content">
	<div class="col-sm-12 no-padding">
		<div class="on-grid-row">
			<a id="sched-embed" href="https://devca2016.sched.org/">View the Developing the Caribbean Conference & Hackathon schedule & directory.</a><script type="text/javascript" src="https://devca2016.sched.org/js/embed.js"></script>
		</div>
	</div>
</div>

<!--  Schedule  -->
